.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  justify-content: space-evenly;
  color: white;
}

.App-logo {
  height: 37vmin;
  pointer-events: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

.bg-dark {
  --bs-bg-opacity: 0 !important;
}

.project-columns {
  padding-bottom: 24px;
}

.Nav-Menu {
  position: absolute;
  right: 24px;
  top: 24px;
}

.navbar-toggler {
  border: 0px solid var(--bs-navbar-toggler-border-color) !important;
}

.Bio {
  font-size: calc(10px + 1vmin) !important;
}

.catch-phrase {
  font-weight: 900;
  color: slategray;
  width: 64%
}

.Bio-name {
  font-size: 24px !important;
  font-weight: bold;
}

.Bio-title {
  font-weight: 200;
  font-size: 17px;
  width: 225px;
}

.App-link {
  color: #61dafb;
}

.Main-buttons {
  margin-bottom: 36px;
  margin-top: 24px;
}

.Button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.footer {
  position: absolute;
  bottom: 36px;
}

.socials {
  color: white;
}

.titles {
  padding-top: 36px;
  padding-bottom: 24px;
}

.card-info {
  color: initial;
  font-size: initial;
  text-align: initial;
}